<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <!-- 自定义css文件引入 -->
    <link rel="stylesheet" href="mystyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body class="form-page">
<div class="wrapper">
    <form action="/api/login" class="form-signin" onsubmit="return jump()" method="post">
        <p style="color: #ff0000">测试用户名：12345678&nbsp&nbsp密码：12345678</p>
        <h2 class="form-signin-heading text-center">
            Login
        </h2>
        <input id="username" type="text" class="form-control" name="username" placeholder="Username" required="" autofocus>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password" required="">
        <label class="checkbox">
            <input id="rememberMe" type="checkbox" value="remember-me" name="rememberMe">
            Remember me
        </label>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    </form>
</div>
</body>
<script>
    function jump() {
        if(document.getElementById("username").value === "12345678"
            && document.getElementById("password").value === "12345678") {
            window.navigate("./static/address-book.html")
            return true;
        }
        else {
            alert("用户名或者密码输入错误！");
            return false;
        }
    }
</script>
</html>